@import '../../colors.scss';

.add-player-module {
    padding: 0.5rem 0.5rem;
	border-bottom: solid 1px $white;

    .MuiTextField-root {
        .MuiFormLabel-root {
            color: $white;
            font-size: 1.25rem;
        }

        .MuiInputBase-root {
            &:before {
                border-bottom-color: $dark-gray;
            }

            &:after {
                border-bottom-color: $white;
            }

            .MuiInputBase-input {
                color: $white;
                font-size: 1.5rem;
            }
        }
    }

    .MuiButtonBase-root {
        color: $white;
        background: $green;
        vertical-align: bottom;
        margin: 0 0 0 2rem;

        &:hover {
            background: darken( $green, 5% );
        }
    }
}