@import '../colors.scss';
@import '../constants.scss';

.header.MuiAppBar-root {
	background-image: url('../../../images/wood.jpg');
	background-size: cover;
	background-blend-mode: overlay;
	background-color: lighten( $dark-gray, 10 );
	background-repeat: no-repeat;
	box-shadow: inset 0 -1rem 2rem rgba( $black, 0.35 ), 0 0.25rem 1rem $black;

    .MuiTabs-root {
        min-height: unset;

        .MuiTabs-scroller {
            .MuiTabs-flexContainer {
                button.MuiButtonBase-root {
                    min-height: unset;
                    min-width: unset;
                    padding: 0 1.5rem;

                    .MuiTab-wrapper {
						color: $white;
						min-height: unset;
                        height: $header-height;
                        text-transform: capitalize;
                        font-size: 1.35rem;
                    }

                    &.icon {
                        padding: 0 0 0 0.25rem;

                        .MuiTab-wrapper {
                            font-size: 1.5rem;
                        }
                    }
				}

				.MuiFormControlLabel-root {
					position: absolute;
					top: 0;
					right: 1rem;
					font-weight: bold;

					.MuiSvgIcon-root {
						color: $white;
					}
				}
            }

            .MuiTabs-indicator {
                background-color: rgba( $white, 0.5 );
            }
        }
    }
}