@import '../../colors.scss';

$dimension: 15.25rem;

div.board-player {
    float: left;
	background: $white;
	border-radius: 0.5rem;
	margin: 0 2rem 2rem 0;
	overflow: hidden;
	width: $dimension;
	box-shadow: 0.125rem 0.125rem 0.25rem rgba( $black, 0.5 );
	transition: all 0.125s ease-in-out;

    img {
		display: block;
		width: 100%;
	}

    p {
		margin: 0.5rem 0 0 0;
		font-size: 1.75rem;
		font-weight: bold;
		line-height: 2rem;
		color: $black;
		text-align: center;
		text-transform: capitalize;
    }

	.faux-gift,
    .board-gift {
        margin: 0.5rem auto 0.5rem auto;
	}

	&.is-over {
		transform: scale( 1.0625 );
		box-shadow: 0.25rem 0.25rem 0.5rem $black;
	}
}